In [1]:
import sys
sys.path.append('/Volumes/Samsung_T5/saturnx/')

import numpy as np

import saturnx as sx

In [2]:
freq = np.linspace(0,100,10)

In [3]:
no_smart_cross = sx.CrossSpectrum(freq_array=freq,smart_index=False)
smart_cross = sx.CrossSpectrum(freq_array=freq,smart_index=True)

In [4]:
no_smart_cross

         freq cross scross
0    0.000000  None   None
1   11.111111  None   None
2   22.222222  None   None
3   33.333333  None   None
4   44.444444  None   None
5   55.555556  None   None
6   66.666667  None   None
7   77.777778  None   None
8   88.888889  None   None
9  100.000000  None   None

In [5]:
smart_cross

          freq cross scross
 0    0.000000  None   None
 1   11.111111  None   None
 2   22.222222  None   None
 3   33.333333  None   None
 4   44.444444  None   None
 5   55.555556  None   None
-4   66.666667  None   None
-3   77.777778  None   None
-2   88.888889  None   None
-1  100.000000  None   None

In [9]:
no_smart_cross.freq.iloc[7]

77.77777777777777

In [10]:
smart_cross.freq.iloc[7]

77.77777777777777